<div style="display: flex; align-items: center;">
	<p style="margin: 0px; font-size: 20px;" >{{UpperArchBox.3.name}}:</p>
	<div style="display: flex;">
	  {% if UpperArchBox.3.stage1 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage1" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage1" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage2 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage2" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage2" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage3 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage3" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage3" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage4 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage4" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage4" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage5 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage5" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage5" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage6 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage6" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage6" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage7 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage7" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage7" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage8 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage8" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage8" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage9 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage9" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage9" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage10 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage10" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage10" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage11 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage11" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage11" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage12 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage12" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage12" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage13 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage13" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage13" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage14 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage14" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage14" id="UpperArchMaterialBox">
	  {% endif %}

	  {% if UpperArchBox.3.stage15 == True %}
	  <input style="margin-left: 10px;" type="checkbox" name="Materialstage15" id="UpperArchMaterialBox" checked>
	  {% else %}
		<input style="margin-left: 10px;" type="checkbox" name="Materialstage15" id="UpperArchMaterialBox">
	  {% endif %}
	</div>   
  </div>