{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="px-4">
<h4 class="py-3"><b>Payment Full Report</b></h4>
<div class="pb-5">


<div class="d-flex justify-content-between my-5">


<!-- patient search bar starts -->
<div class="search-bar">
<div class="input-group">
  <div class="form-outline">
  <form action="{% url 'paymentfullsearchresultsbypatient' %}" method="get">
    <input type="search" id="patientName"  class="form-control" placeholder="Patient Name" name="PatientReportSearchQuery" />
  </div>
  <button type="submit" class="btn btn-success bg-success">
      <i class="fas fa-search"></i>
  </button>
  </form>
</div>
</div>
<!-- patient search bar ends -->

<!-- Dentist search bar starts -->
{% if user.is_superuser %}
<div class="search-bar">
<div class="input-group">
  <div class="form-outline">
  <form action="{% url 'paymentfullsearchresultsbypatient' %}" method="get">
    <input type="search" id="Dentist"  class="form-control" placeholder="Dentist Name" name="DentistReportSearchQuery" />
  </div>
  <button type="submit" class="btn btn-success bg-success">
      <i class="fas fa-search"></i>
  </button>
  </form>
</div>
</div>
{% endif %}
<!-- Dentist search bar ends -->

<!-- date bar starts -->
<div class="search-bar">
<div class="input-group">
  <div class="form-outline">
  <form action="{% url 'paymentfullsearchresultsbypatient' %}" method="get">
    <input type="date" id="patientName"  class="form-control" required="required" name="DateReportSearchQuery" />
  </div>
  <button type="submit" class="btn btn-success bg-success">
      <i class="fas fa-search"></i>  
  </button>
  </form>
</div>
</div>

<!-- date bar ends -->
</div>

<div class="report col-sm-8 my-3 table-responsive border rounded p-3"style="margin:auto;font-size:16px;">

<div class="title text-center my-3">
<h6><b>Daily Full Report</b></h6>
</div>

<div class="date d-flex justify-content-between mx-3 mt-5">
<span><b style="font-size:13px;color:black;">Daily Cash Up For</b></span>
<span style="font-size:13px;color:black;">{{date}}</span>
</div>

<div class="line"style="border:1px solid black;"></div>

<div class="mx-2 my-4">
<table class="table" style="">
<thead class=" text-dark">
<tr>
<th scope="col">Patient name</th>
<th scope="col">Dentist</th>
<th scope="col">Scheme</th>
<th scope="col">Payment Method</th>
<th scope="col">Amount</th>
<th scope="col">Action</th>
</tr>
</thead>

<tbody>

{% for allpayments in allpayments %}

<tr style="border:1px solid white;">

<td>
<form action="" method="POST">
{% csrf_token %}
  <input type="hidden" name="id"value="{{allpayments.id}}">
      <input type="text" class="form-control border-0" style="background:#EBEBEB;padding:3px;font-size:11px;width:110px;" required="required" name="PatientName"value="{{allpayments.PatientName}}">
      <input type="submit" name="ChangePatientName"style="display:none;">
</form>
</td>

<td>
<form action="" method="POST">
{% csrf_token %}
  <input type="hidden" name="id"value="{{allpayments.id}}">
      <select style="background:#EBEBEB" required="required" name="Dentist" onchange="this.form.submit()">
      <option value="{{allpayments.Dentist}}" selected>{{allpayments.Dentist}}</option>     
      <option value="MB" >MB</option>
      <option value="GM" >GM</option>
      <option value="YC" >YC</option>
      <option value="RF" >RF</option>
      <option value="KF" >KF</option>
      <option value="UJ" >UJ</option>
      <option value="OPG" >OPG</option>
      </select>
</form>
</td>

<td>
<form action="" method="POST">
{% csrf_token %}
  <input type="hidden" name="id"value="{{allpayments.id}}">
      <select style="background:#EBEBEB" required="required" name="Scheme"onchange="this.form.submit()">
      <option value="{{allpayments.Scheme}}" selected>{{allpayments.Scheme}}</option>      
      <option value="NHS" >NHS</option>
      <option value="PVT" >PVT</option>
      </select>
</form>
</td>

<td>
<form action="" method="POST">
{% csrf_token %}
  <input type="hidden" name="id"value="{{allpayments.id}}">
      <select style="background:#EBEBEB" required="required" name="PaymentMethod"onchange="this.form.submit()">
      <option value="{{allpayments.PaymentMethod}}" selected>{{allpayments.PaymentMethod}}</option>      
      <option value="Cash" >Cash</option>
      <option value="Card11" >Card11</option>
      <option value="Card14" >Card14</option>
      <option value="BACS" >BACS</option>
      <option value="Finance" >Finance</option>
      </select>
</form>
</td>

<td>
<form action="" method="POST">
{% csrf_token %}
  <input type="hidden" name="id"value="{{allpayments.id}}">
      <input type="number" step=".01" class="form-control border-0" style="background:#EBEBEB;padding:3px;font-size:11px;width:50px;" required="required" name="Amount"value="{{allpayments.Amount}}">
      <input type="submit" name="ChangeAmount"style="display:none;">
</form>
</td>

<td>
<form action=""method="POST">
{% csrf_token %}
<input type="hidden" name="id"value="{{allpayments.id}}">
    <input type="submit" class="btn px-2 py-0" value="Archive" style="background:yellow;font-size:11px;" name="Archive"> 
</form>
</td>

</tr>

{% endfor %}


<tr class="text-dark"style="border:1px solid white;">
<td class="pt-4"><b>Total</b></td>
<td class="pt-4"></td>
<td class="pt-4"></td>
<td class="pt-4"></td>
<td class="pt-4"><b>£{{total|floatformat:2}}</b></td>
</tr>

</tbody>
</table>
</div>
</div>


</div>


<!-- Scripts -->


<!-- Scripts -->
</section>
{% endblock body %}
