{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="px-4">
<h4 class="py-3"><b>Referrals</b></h4>
<div class="">

<span class="text-secondary">UKALIGNERS Dental Home</span>
<h6><b>{{user.first_name}} {{user.last_name}}</b></h6>

<div class="d-flex justify-content-between py-3">
<h5><b>New Referrals</b></h5>

<!-- search bar starts -->
<div class="search-bar">
<div class="input-group">
  <div class="form-outline">
  <form action="{% url 'referralsearchresults' %}" method="get">
    <input type="search" id="patientName"  class="form-control" placeholder="Patient Name" name="ReferralSearchQuery" />
  </div>
  <button type="submit" class="btn btn-success bg-success">
    <i class="fas fa-search"></i>
  </button>
  </form>
</div>
</div>
<!-- search bar ends -->


<div class="add-new">
<a href="{% url 'addnewreferral' %}" class="btn btn-sm text-light bg-success"><i class="fas fa-plus mx-1"></i> Add new referral</a>
</div>
</div>

<div class="col-sm-12 px-0 pb-3 my-3 table-responsive"style="font-size:14px;">
<table class="table ">
<thead class="text-secondary">
<tr>
<th scope="col">Dentist</th>
<th scope="col">Date</th>
<th scope="col">Patient name</th>
<th scope="col">Patient phone</th>
<th scope="col">Patient email</th>
<th scope="col">Referral Reason</th>
<th scope="col">Status</th>
<th scope="col">Action</th>
</tr>
</thead>

<tbody>

{% for referrals in myreferrals %}

<tr>
<td>{{referrals.DentistName}}</td>
<td>{{referrals.Date}}</td>
{% if not request.user.is_dentist %}
<td><a href="/referraldetail/{{referrals.id}}/">{{referrals.PatientName}}</a></td>
{% else %}
<td class="text-secondary">{{referrals.PatientName}}</td>
{% endif %}
<td>{{referrals.PatientPhone}}</td>
<td>{{referrals.PatientEmail}}</td>

<form action="" method="POST">
{% csrf_token %}

{% if not request.user.is_dentist %}
<td>
    <select name="ReferralReason" id="ReferralReason">
        <option  style="background: rgb(52, 143, 255); color: white;" value="{{referrals.ReferralReason}}"selected>{{referrals.ReferralReason}}</option>
        <option value="Implant">Implant</option>
        <option value="Orthodontics">Orthodontics</option>
        <option value="Root Canal">Root Canal</option>
        <option value="Crowns">Crowns</option>
    </select>
</td>
{% else %}
<td>{{referrals.ReferralReason}}</td>
{% endif %}


{% if not request.user.is_dentist %}
<td>
  <input type="hidden" name="id"value="{{referrals.id}}">
    <select name="Status" id="Status">
        <option  style="background: rgb(52, 143, 255); color: white;" value="{{referrals.Status}}"selected>{{referrals.Status}}</option>
        <option value="In progress" >In progress</option>
    </select>
</td>
{% else %}
<td>{{referrals.Status}}</td>
{% endif %}

<td>
    <input type="submit" class="btn px-2 py-0" value="Save" style="background:yellow;font-size:11px;" name="Save"> 
</td>

</form>

</tr>


{% endfor %}

</tbody>
</table>
</div>


</div>

</section>
{% endblock body %}
